body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 7em;
}

.cell {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 150px;
    text-align: center;
}

#main-item{
    background-color: rgb(7, 120, 124);
    width: 500px;
    height: 600px;
    margin: auto;
    border-radius: 20px;
}

#menu {
    height: 50px;
    display: flex;
    margin-top: 25px;
}

#player-display{
    height: 50px;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
}

.player-info{
    color: rgb(7, 120, 124);
    border: solid 1px black;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
}

.player-input {
    border: solid 1px black;
}

#board {
    font-family: 'Swanky and Moo Moo', cursive;
}

.bottom-left {
    border-radius: 0 0 0 20px;
}
.bottom-right {border-radius: 0 0 20px 0;}
.top-left{border-radius: 20px 0 0 0;}
.top-right{border-radius: 0 20px 0 0;}


.menu-button {
    background-color: white;
    color:rgb(7, 120, 124);
    width: 50%;
    font-size: 1.5em;
}

.menu-button:hover {
    background-color: rgb(235, 235, 235);
}

.row {
    display: flex;
    justify-content: center;
}

[data-row="0"], [data-row="1"] {
    border-bottom: solid 5px;
}

[data-col="0"], [data-col="1"] {
    border-right: solid 5px;
}

.result-display{
    padding-top: .5em;
    text-align: center;
    font-size: 4em;
}

#board-cover {
    position: absolute;
    margin: auto;
    width: 0px;
    height: 450px;
    background-color: rgb(7, 120, 124);
}

#game-change-menu {
    margin: auto;
    width: 500px;
    height: 450px;
    background-color: rgb(7, 120, 124);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-selection label {
  display: inline-block;
  width: 100px;
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
}

.player-selection input[type="radio"] {
    display: none;
}

.player-selection input[type="radio"]:checked + label{
    background-color: chartreuse;
}

.slide-in {
    animation: slide-in 2s;
    animation-fill-mode: forwards;  
}

.slide-out {
    animation: slide-out 2s;
    animation-fill-mode: forwards;  
}

@keyframes slide-in {
    from {
        width: 0px
    }
    to {
        width: 500px
    }
}

@keyframes slide-out {
    from {
        width: 500px
    }
    to {
        width: 0px;
    }
}

.winning-cell{
    color: white;
    border-color: black;
}

.hidden {
    display: none;
    opacity: 0;
}