body {
    font-family: 'Swanky and Moo Moo', cursive;
}

h1 {
    text-align: center;
    font-size: 7em;
}

.cell {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 150px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

[data-row="0"], [data-row="1"] {
    border-bottom: solid 5px;
}

[data-col="0"], [data-col="1"] {
    border-right: solid 5px;
}

p{
    padding-top: .7em;
    text-align: center;
    font-size: 7em;
}