:root {
  --main-width: 500px;
  --main-font-size: 20px;
  --main-height: 500px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 7em;
}

.cell {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
  text-align: center;
}

#main-item {
  background-color: rgb(7, 120, 124);
  width: var(--main-width);
  height: (var(--main-height + 100px));
  margin: auto;
  border-radius: 20px;
}

#menu {
  height: 50px;
  display: flex;
}

#player-display {
  height: 50px;
  background-color: white;
  display: flex;
}

.player-info {
  color: rgb(7, 120, 124);
  border: solid 1px black;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
}

.player-input {
  border: solid 1px black;
}

#board {
  font-family: "Swanky and Moo Moo", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--main-height);
}

.bottom-left {
  border-radius: 0 0 0 20px;
}
.bottom-right {
  border-radius: 0 0 20px 0;
}
.top-left {
  border-radius: 20px 0 0 0;
}
.top-right {
  border-radius: 0 20px 0 0;
}

.menu-button {
  background-color: white;
  color: rgb(7, 120, 124);
  width: 50%;
  font-size: 1.5em;
}

.menu-button:hover {
  background-color: rgb(235, 235, 235);
}

.row {
  display: flex;
  justify-content: center;
}

[data-row="0"],
[data-row="1"] {
  border-bottom: solid 5px;
}

[data-col="0"],
[data-col="1"] {
  border-right: solid 5px;
}

.result-display {
  padding-top: 0.5em;
  text-align: center;
  font-size: 4em;
}

#board-cover {
  position: absolute;
  margin: auto;
  width: 0px;
  height: var(--main-height);
  background-color: rgb(7, 120, 124);
}

#game-change-menu {
  margin: auto;
  width: var(--main-width);
  height: var(--main-height);
  background-color: rgb(7, 120, 124);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#vs {
  font-size: 70px;
}
.player-selection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.player-selection label {
  text-align: center;
  color: rgb(5, 102, 105);
  display: inline-block;
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  width: 110px;
}

.player-selection input[type="radio"] {
  display: none;
}

.player-selection input[type="radio"]:checked + label {
  background-color: rgb(0, 255, 98);
}

.player-selection input[type="radio"]:hover + label {
  background-color: rgba(0, 255, 98, 0.596);
}

.name-selection input[type="text"] {
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
}

label {
  font-size: 20px;
}

.slide-in {
  animation: slide-in 2s;
  animation-fill-mode: forwards;
}

.slide-out {
  animation: slide-out 2s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    width: 0px;
  }
  to {
    width: var(--main-width);
  }
}

@keyframes slide-out {
  from {
    width: var(--main-width);
  }
  to {
    width: 0px;
  }
}

@media (max-width: 450px) {
  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
  }
  :root {
    --main-width: 300px;
    --main-height: 450px;
  }
  .result-display {
    margin-top: 10px;
    font-size: 40px;
  }
  .player-info,
  .menu-button {
    font-size: 1em;
  }
  .cell {
    width: 95px;
    height: 135px;
  }
}

.winning-cell {
  color: white;
  border-color: black;
}

.hidden {
  display: none !important;
}
